

   #intro{
        width: 100%;
    }
   .MissonStatement{
    text-align:center;
    font-size: 60px;
    font-family: 'Kumar One', serif;
    margin-top: 10px;
    color:white;
   }

    p{
        text-align:center;
        font-size: 30px;
        font-family: 'Philosopher', sans-serif;
        color:white;
    }
    body{
        background-color:IndianRed;
    }
    .SouthAsianAesthetic{
        width:50%;
    }
    .SAA{
        text-align:center;
        font-size: 60px;
        font-family: 'Kumar One', serif;
        margin-top: 10px;
        color:white;
       }
       .List{
        width:300px;
        font-size:30px;
        color:white;
        font-family:'Philosopher',sans-serif;
        text-align:left;
        margin:auto;
       }
       .mosa{

       }
       #h1{
        text-align:center;
        font-size: 60px;
        font-family: 'Kumar One', serif;
        margin-top: 10px;
        color:white;
       }

       .JH{
        font-size: 20px;
        font-family:'Philosopher',sans-serif;
        color:white;
       }
       .pm{
        text-align:center;
        font-size: 60px;
        font-family: 'Kumar One', serif;
        margin-top: 10px;
        color:white;
       }
       #sal{
        width:100%
       }
       .rs{
        width:10%
       }
    #tj{
        width:100%
    }
    #s{
        width:100%
    }
#flk{
    width:100%
}
#ihr{
    width:100%
}
#ih{
    width:100%
}
#ir{
    width:100%
}
#tm{
    width:100%
}
#ne{
    width:100%
}
#rj{
    width:100%
}
#wd{
    width:100%
}
#te{
    width:100%
}
#owd{
    width:100%
}